PORT=3001
RPC_URL=https://api.devnet.solana.com
# Ejemplo de llave privada del oráculo en Base58. Cuidado, esto es secreto!
ORACLE_PRIVATE_KEY=3Kk7y9Rz8... # REEMPLAZAR
PROGRAM_ID=8qT4Yoj9ZYdvFUZm7Pz3YBTA8idQ5VgbZ4Cdcypfw3Ue
